p {
    color: black;
}

.footer p {
    color: white;
}

img.responsive-img {
    height: 660px;
    width: 100%;
}

img.responsive-visi {
    height: 200px;
    width: 200px;
}

.para1 {
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 1.8;
    text-align: justify;
}

.para2 {
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 1.8;
    text-align: left;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px){
	img.responsive-img{
		height: 400px;
		width: 100%;
	  }

    img.responsive-visi {
        height: 200px;
        width: 200px;
    }

    .para1 {
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
        line-height: 1;
        text-align: justify;
    }
    
    .para2 {
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
        line-height: 1;
        text-align: left;
        padding-bottom: 20px;
    }
}